<div class="jumbotron jumbotron-fluid">
  <h2 class='display-4'>Our Mission</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <p>
          At H-Town boxing we strive to serve and represent the city of houston
          through the sport of boxing. H-Town boxing is known for it's
          competitive boxing team of complete fighers, well versed in the
          fundamentals of Olympic style boxing. However we have a larger vision
          for every individual that steps through our doors. We are aware that
          boxing is merely a path, not a destination. As such, we strive to
          impart the lessons of boxing as a framework for person building.

          We  offer more than just physical training here. In addition
          to the numerous yearly social events and getherings, we also provide
          youth programs, such as college tours, and field trips to for the
          students that attend.

          At H-Town boxing we have crafted a home a way from home, where
          camraderie, expression, and acceptance are the central tenants
          of our culture.

          Houston is our city, and at H-Town boxing we embody all that makes
          Houston great.

          We look forward to having you.

          Sincerely,

          The H-Town Team
        </p>
    </div>
  </div>
</div>
