<div class="jumbotron jumbotron-fluid">
  <h2 class='display-4'>Frequently Asked Questions</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h5>How Much Does a Membership Cost</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>What Do I Get With My Membership</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>What Are Your Hours</h5>

    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>Where Are You Located</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>Do You Have Parking</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>Do You Have Showers</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>Do I Need To Sign A Waiver</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>How Do I Wrap My Hands</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>What Equipment Will I need</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>Do You Sell Food Or Drinks?</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>What Does a Typical Day of Training Look Like</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
        <h5>How Do I Start Competiting As A Boxer</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>How Do I Register With U.S.A. Boxing</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>What Happens in Sparring</h5>
    </div>
  </div>
</div>
