<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto center-block">
      <br>
      <h2>Meet Our Staff</h2>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h6>Head Boxing Coach</h6>
      <h3>Carlos Moreno</h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
         veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
         ea commodo consequat. Duis aute irure dolor in reprehenderit in
         voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
         officia deserunt mollit anim id est laborum."
      </p>
      <a href="#">View Profile</a>
    </div>
    <div class="col-sm">

    </div>
  </div>
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <h6>Boxing / MMA Coach</h6>
      <h3>Anthony Reyes</h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
         veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
         ea commodo consequat. Duis aute irure dolor in reprehenderit in
         voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
         officia deserunt mollit anim id est laborum."
      </p>
      <a href="#">View Profile</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h6>Strength and Conditioning Coach</h6>
      <h3>Tony James</h3>
      <p>
        "A good strengh and conditioning program is one that addresses every
        aspect of fitness with an emphasis on balance. I take a deeply thoughtful
        approach to the design of my nutrition and workout programs, keeping my
        athletes interested, challenged, and injury free."
      </p>
      <a href="#">View Profile</a>
    </div>
    <div class="col-sm">

    </div>
  </div>
  <div class="row">

  </div>
</div>
